.card-img-top{
    width: 100%;
}
.card-title{
    font-weight: bold;
    text-decoration: underline;
}

.card-logo{
    width: 30%;
}
.float-md-right{
    float: left;
}
.card-text{
    font-size: 13px;
}
h6{
    margin-left: 15px;
    font-weight: bold;
    text-decoration: underline;
}
.validationTooltip01{
    margin-left: 5px;
}
form button{
    margin-left: 10px;
}
main img{
    border-radius: 5%;
}
h4{
    margin-left: 15px;
    text-decoration: underline;
    font-weight: bolder;
}
footer strong{
    font-weight: bolder;
}